        body {
            background-color: #0a2233;
            margin: 0;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 20px;
        }
        .logo img {
            height: 75px;
			width: auto;
        }
        .home-button {
            color: #30bde2;
            font-size: 40px;
            text-decoration: none;
        }
        .home-button:hover {
            color: #1a8ca8;
        }
		.left-image {
		    max-width: 2000px;
    		margin-right: 0px;
			margin-left: 0px;
		}
